.da-thumbs {
	list-style: none;
	width: 500px;
	height: 200px;
	position: relative;
	margin:0px;
	padding: 0;
}
.da-thumbs li {
	float: left;
	background: #fff;
	position: relative;
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #0072bc;
	background: rgba(0,114,188,0.6);
	width: 100%;
	height: 100%;
	font:14px 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 50px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color:#fff; text-align:center;
}

/*--SEVICE BOX--*/
.ServiceBox {
	list-style: none;
	width: 280px;
	height: 200px;
	position: relative;
	margin:0px;
	padding: 0;
}
.ServiceBox {
	float: left;
	background: #fff;
	position: relative;
}
.ServiceBox a,
.ServiceBox a img {
	display: block;
	position: relative;
}
.ServiceBox a {
	overflow: hidden;
}
.ServiceBox a div {
	position: absolute;
	background: #0072bc;
	background: rgba(0,114,188,0.6);
	width: 100%;
	height: 100%;
	font:14px 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.ServiceBox a div span {
	display: block;
	padding: 10px 0;
	margin: 50px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color:#fff; text-align:center;
}





.Service1 {
	list-style: none;
	width: 240px;
	height: 400px;
	position: relative;
	margin:0px;
	padding: 0;
}
.Service2 {
	list-style: none;
	width: 600px;
	height: 200px;
	position: relative;
	margin:0px;
	padding: 0;
}
.Service3 {
	list-style: none;
	width: 310px;
	height: 200px;
	position: relative;
	margin:0px;
	padding: 0;
}
.Service4 {
	list-style: none;
	width: 290px;
	height: 200px;
	position: relative;
	margin:0px;
	padding: 0;
}
.Service1 {
	background: #fff;
	position: relative;
}
.Service2, .Service3, .Service4 {
	background: #fff; float:right;
	position: relative;
}
.Service1 a, .Service1 a img, .Service2 a, .Service2 a img, .Service3 a, .Service3 a img, .Service4 a, .Service4 a img {
	display: block;
	position: relative;
}
.Service1 a, .Service2 a, .Service3 a, .Service4 a {
	overflow: hidden;
}
.Service1 a div, .Service2 a div, .Service3 a div, .Service4 a div {
	position: absolute;
	background: #0072bc;
	background: rgba(0,114,188,0.6);
	width: 100%;
	height: 100%;
	font:14px 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.Service1 a div span, .Service2 a div span, .Service3 a div span, .Service4 a div span {
	display: block;
	padding: 10px 0;
	margin: 50px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color:#fff; text-align:center;
}